<h1>Destinos mas buscados</h1>
<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 100%;">
                <img src="../../../assets/bsas.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Buenos Aires</h5>
                  <a href="#" class="btn btn-primary">Consultar</a>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 100%;">
                <img src="../../../assets/rio.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Rio de Janeiro</h5>
                  <a href="#" class="btn btn-primary">Consultar</a>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 100%;">
                <img src="../../../assets/habana.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">La Habana</h5>
                  <a href="#" class="btn btn-primary">Consultar</a>
                </div>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 100%;">
                <img src="../../../assets/new york.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Nueva York</h5>
                  <a href="#" class="btn btn-primary">Consultar</a>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 100%;">
                <img src="../../../assets/paris.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Paris</h5>  
                  <a href="#" class="btn btn-primary">Consultar</a>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 100%;">
                <img src="../../../assets/barcelona.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Barcelona</h5>
                  <a href="#" class="btn btn-primary">Consultar</a>
                </div>
              </div>
        </div>
    </div>
</div>
